@font-face {
  font-family: 'Cascadia Mono';
  src: url('/fonts/CascadiaMono-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Cascadia Mono', monospace;
    font-weight: 500; /* Medium */
  }
}


